body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-weight: bold;
}

.main {
  padding: 50px 0;
}
