body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.hidden-input {
  display: none;
}

input[type="file"] + label:hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
  height: 70px;
  background-color: #34495e;
  color: #fff;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 20px;
}

.logo {
  font-weight: bold;
}
